<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.apex"
	android:versionCode="17"
	android:versionName="1.6"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="26"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission 
	android:name="android.launcher.permission.INSTALL_SHORTCUT"/>
	<uses-permission 
	 android:name="android.permission.GET_PACKAGE_SIZE"/>
	<uses-permission
	  android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission
	  android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission
	  android:name="android.permission.WRITE_SECURE_SETTINGS"/>
	<uses-permission
	 android:name="android.permission.PACKAGE_USAGE_STATS"/>
	<uses-permission
	  android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
	 <uses-permission
	  android:name="android.permission.BROADCAST_PACKAGE_REMOVED"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application
		android:icon="@drawable/icon"
		android:label="APK Backup(Pro)"
		android:theme="@style/MyAppTheme">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="APK Backup(Pro)"
			android:screenOrientation="portrait">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".sett"
			android:label="APK Backup(Pro)"
			android:screenOrientation="portrait">
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
	</application>
</manifest>